@import "../../styles/media.css";

.main {
  width: auto;
  max-width: 1000px;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: space(5);
  margin: 0 auto;
  padding: space(0) space(4);
  box-sizing: border-box;
}

.container {
  flex: 1;
  display: flex;
  gap: space(3);
  overflow: hidden;
}

.sidebar {
  width: 240px;
  overflow: auto;
  padding-right: space(2);
  display: flex;
  flex-direction: column;
  gap: space(2);
}

.control {
  position: sticky;
  top: 0;
  z-index: 1;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (--mobile) {
  .main {
    padding: space(0) space(1);
  }

  .container {
    gap: space(1);
  }

  .sidebar {
    width: 160px;
  }
}
