.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: space(2);
}

.item {
}

.itemButton {
  display: flex;
  flex-direction: column;
  gap: space(1);
  background-color: transparent;
  border: 0;
  padding: space(3) space(5);
  border-radius: var(--radius-s);
  text-align: left;
  width: 100%;
  height: 72px;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    background-color: var(--color-bg-gray);
  }

  &.active {
    background-color: var(--color-bg-brand);
  }
}

.date {
  font-size: 10px;
  color: var(--color-text-gray);

  .itemButton:hover &,
  .itemButton.active & {
    color: var(--color-text-white);
  }
}

.content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 14px;
}
